

.home-imagem {
    width: 100%;
    height: auto; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
  }
  
  .home-imagem img {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: contain; 
  }
  